
<div class="container py-3">

    <form #pageTwo="ngForm" (ngSubmit)="pageTwo.form.valid && submitThree()" class="row g-3">
      <div class="col-12">
        <a href="/add-patient-two">Back To Previous</a>
      </div>
      <div class="col-12">
        <p>
            2. Disaster Relief Efforts. We may use or disclose protected health information to a public or private entity authorized by law or its charter to assist in disaster relief efforts for the purpose of coordinating notification of family members of your location, general condition, or death. 
C. Other permitted and required uses and disclosures: Use or Disclose of your PHI for marketing or sale of your PHI to third parties, will be made only with your authorization. Once given, you may withdraw authorization at any time in writing.
II. YOUR INDIVIDUAL RIGHTS
A. Right to Inspect and Copy. You may request access to your medical records and billing records maintained by us in order to inspect and request copies of the records. All requests for access must be made in writing. Under limited circumstances, we may deny access to your records. Under federal law, you may not inspect or copy psychotherapy notes, information compiled in anticipation of, or use in, a legal proceeding, and PHI that is otherwise prohibited. We may charge a fee for the costs of copying and sending you any records requested. 


B. Right to Alternative Communications. You may request, and we will accommodate, any reasonable written request for you to receive PHI by alternative means of communication or at alternative locations. 
C. Right to Request Restrictions. You may ask us not to use or disclose any part of your PHI for the purposes of treatment, payment or health care operations. Your request must be in writing and state the specific restriction requested and to whom you want the restriction to apply. If you have paid for your services in full and ask us not to disclose your visit to your insurance company, we will honor that request. We are not required to agree to any other restriction that you may request.
D. Right to Accounting of Disclosures. Upon written request, you may obtain an accounting of certain disclosures of PHI made by us in the last six years. This right applies to disclosures for purposes other than treatment, payment or health care operations, excludes disclosures made to you or disclosures otherwise authorized by you, and is subject to other restrictions and limitations. We are required by law to notify you if your unsecured PHI is breached.
E. Right to Request Amendment: You have the right to request that we amend your health information. Your request must be in writing, and it must explain why the information should be amended. We may deny your request under certain circumstances. If we deny your written request for amendment, you have the right to file a statement of disagreement with us and we may prepare a rebuttal to your statement and will provide you with a copy of any such rebuttal.
F. Right to Obtain Notice. You have the right to obtain a paper copy of this Notice by submitting a request to the center’s Compliance Officer at any time. 
G. Questions and Complaints. If you desire further information about your privacy rights, or are concerned that we have violated your privacy rights, you may contact the center’s Compliance Officer. You may also file a written complaint with the Director, Office for Civil Rights of the U.S. Department of Health and Human Services. We will not retaliate against you if you file a complaint with the Director or with our office.
III. EFFECTIVE DATE AND CHANGES TO THIS NOTICE
A. Effective Date. This Notice is effective on August 15, 2013. 
B. Changes to this Notice. We may change the terms of this Notice at any time. If we change this Notice, we may make the new notice terms effective for all PHI that we maintain, including any information created or received prior to issuing the new notice. If we change this Notice, we will post the revised notice in the waiting area of our office and on our web site. You may also obtain any revised notice by contacting the center’s Compliance Officer. 
I have reviewed SOUTHWEST URGENT CARE & FAMILY PRACTICE Notice of Privacy Practices and understand that I may request a copy of the policy at any time. 

        </p>
      </div>
      <div class="col-12" *ngIf="patientThreeModel.adult == 'No'">
        <span>
          I, the parent or guardian of {{patientThreeModel.firstName}} {{patientThreeModel.lastName}} authorize the doctor practice staff to perform necessary services for the child named above.    
          The care provider is authorized to obtain routine medical treatment from appropriate health care providers if symptoms of illness occur (eg fever, coughing, irregular breathing, unusual
          rashes, swallowing problems, etc.) obtain medical treatment and procedures for the child as may be appropriate in emergency circumstances, including treatment by physician,clinical personnel and other appropriate health care providers.
          I, new guardian also consent to have {{patientThreeModel.firstName}} {{patientThreeModel.lastName}} comply with clinic guidelines of waiting 15 minutes after an injection.
          {{patientThreeModel.firstName}} {{patientThreeModel.lastName}} is expected to check with the nurse before leaving the clinic facility.
        </span>
        <div class="form-check" >
          <input class="form-check-input" type="checkbox" [(ngModel)]="patientThreeModel.isAgree"  #isAgree="ngModel"
          name="isAgree" id="flexCheckChecked" [ngClass]="{ 'is-invalid': pageTwo.submitted && isAgree.invalid }"  required>
          <label class="form-check-label" for="flexCheckChecked">
            Agree the terms and condition.
          </label>
          <div class="invalid-feedback" *ngIf="pageTwo.submitted && isAgree.invalid">
            Need to agree the terms and condition.
          </div>
        </div>

      </div>
      <div class="col-10">
        <label for="visitReason" class="form-label" *ngIf="patientThreeModel.adult == 'No'">Guardian Signature</label>
        <label for="visitReason" class="form-label" *ngIf="patientThreeModel.adult == 'Yes'">Patient Signature</label>
        <div class="signature-container">
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="clearSignature()">Clear signature</button>
          </div>
          <div class="col-3">
            <button type="button"  class="btn btn-primary" (click)="savePad()">Save signature</button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" >Finish</button>
      </div>
    </form>


</div>