<div class="container py-3">
  <form #pageTwo="ngForm" (ngSubmit)="submitTwo(pageTwo)" class="row g-3">
    <div class="col-12">
      <button class="btn btn-primary" (click)="back()">
        {{ "Button.BackToPrev" | translate }}
      </button>
    </div>
    <div class="col-12">
      <label for="emergencyContact" class="form-label">{{
        "Page3.Label" | translate
      }}</label>
    </div>
    <div class="col-md-4">
      <label for="emergencyName" class="form-label">
        {{ "Page3.FirstName" | translate }}</label
      >
      <input
        [(ngModel)]="patientTwoModel.emergencyName"
        name="emergencyName"
        #emergencyName="ngModel"
        type="text"
        class="form-control"
        id="emergencyName"
      />
    </div>
    <div class="col-md-4">
      <label for="emergencyLast" class="form-label">{{
        "Page3.LastName" | translate
      }}</label>
      <input
        [(ngModel)]="patientTwoModel.emergencyLast"
        name="emergencyLast"
        #emergencyLast="ngModel"
        type="text"
        class="form-control"
        id="emergencyLast"
      />
    </div>
    <!--  -->
    <div class="col-md-4">
      <label for="emergencyRelation" class="form-label">{{
        "Page3.Relationship" | translate
      }}</label>
      <input
        [(ngModel)]="patientTwoModel.emergencyRelation"
        name="emergencyRelation"
        #contactRelation="ngModel"
        type="text"
        class="form-control"
        id="emergencyRelation"
      />
    </div>
    <!--  -->
    <div class="col-md-4">
      <label for="emergencyPhone" class="form-label">{{
        "Page3.PhoneNumber" | translate
      }}</label>
      <input
        [(ngModel)]="patientTwoModel.emergencyPhone"
        name="emergencyPhone"
        #emergencyPhone="ngModel"
        type="text"
        class="form-control"
        id="emergencyPhone"
      />
    </div>

    <div class="col-md-12">
      <label for="medicalRecords" class="form-label"
        >{{ "Page3.DiscloseInfo" | translate }}
      </label>
    </div>
    <div class="col-md-6">
      <div class="form-check">
        <input
          class="form-check-input"
          [(ngModel)]="patientTwoModel.medicalRecord"
          type="radio"
          name="medicalRecord"
          id="medicalRadioYes"
          value="Yes"
        />
        <label class="form-check-label" for="medicalRadioYes">
          {{ "YesNo.Yes" | translate }}</label
        >
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          [(ngModel)]="patientTwoModel.medicalRecord"
          type="radio"
          name="medicalRecord"
          id="medicalRadioNo"
          value="No"
        />
        <label class="form-check-label" for="smedicalRadioNo"
          >{{ "YesNo.No" | translate }}
        </label>
      </div>
    </div>
    <div *ngIf="patientTwoModel.medicalRecord == 'Yes'">
      <div class="col-12">
        <label for="contactInfo" class="form-label">{{
          "Page3.Label1" | translate
        }}</label>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="contactFirstName" class="form-label">
            {{ "Page3.FirstName1" | translate }}</label
          >
          <input
            [(ngModel)]="patientTwoModel.contactFirstName"
            name="contactFirsttName"
            #contactFirstName="ngModel"
            type="text"
            class="form-control"
            id="contactFirstName"
          />
        </div>
        <div class="col-md-4">
          <label for="contactLastName" class="form-label">{{
            "Page3.LastName1" | translate
          }}</label>
          <input
            [(ngModel)]="patientTwoModel.contactLastName"
            name="contactLastName"
            #contactLastName="ngModel"
            type="text"
            class="form-control"
            id="contactLastName"
          />
        </div>
        <div class="col-md-4">
          <label for="contacRelation" class="form-label">{{
            "Page3.Relationship1" | translate
          }}</label>
          <input
            [(ngModel)]="patientTwoModel.contactRelation"
            name="contactRelation"
            #contactRelation="ngModel"
            type="text"
            class="form-control"
            id="contactRelation"
          />
        </div>
        <div class="col-md-4">
          <label for="contactPhone" class="form-label">{{
            "Page3.PhoneNumber1" | translate
          }}</label>
          <input
            [(ngModel)]="patientTwoModel.contactPhone"
            name="contactPhone"
            #contactPhone="ngModel"
            type="text"
            class="form-control"
            id="contactPhone"
          />
        </div>
      </div>
    </div>

    <div class="col-12">
      <label for="aboutUs" class="form-label">{{
        "Page3.HearAboutUs" | translate
      }}</label>
      <input
        [(ngModel)]="patientTwoModel.hearAboutUs"
        name="hearAboutUs"
        #hearAboutUs="ngModel"
        type="text"
        class="form-control"
        id="hearAboutUs"
      />
      <p style="font-size: x-small">
        {{ "Page3.Policy" | translate }}
      </p>
    </div>
    <div class="col-12">
      <p>
        {{ "Page3.Terms" | translate }}
      </p>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">
        {{ "Button.Next" | translate }}
      </button>
    </div>
  </form>
</div>
