
<mat-sidenav-container fullscreen>

  <mat-sidenav #start>
    <mat-nav-list>

        <a mat-list-item routerLink="/add-patient-one">

            <span>New Patient</span>
        </a>

        <a mat-list-item routerLink="/main-patient-existing">
           
            <span>Existing Patient</span>
        </a>
        <a mat-list-item routerLink="/admin">
   
            <span>Admin</span>
        </a>

    </mat-nav-list>

</mat-sidenav>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
  </button>
  <a  class="navbar-brand pt-0 pb-0 mr-4" href="javascript">
    <img src="assets/img/logo.png" width="200"></a>
</mat-toolbar>
  <router-outlet></router-outlet>

</mat-sidenav-container>

