<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
      <a mat-list-item routerLink="/add-patient-one">
        <span>{{ "Home.New" | translate }}</span>
      </a>

      <a mat-list-item routerLink="/main-patient-existing">
        <span>{{ "Home.Existing" | translate }}</span>
      </a>
      <a mat-list-item routerLink="/admin/all-new-patients">
        <span>Admin</span>
      </a>
      <a mat-list-item routerLink="/admin/all-existing-patients">
        <span>Existing Patient Records</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="navbar-brand pt-0 pb-0 mr-4" href="javascript">
      <img src="assets/img/logo.png" width="200"
    /></a>
    <span class="example-spacer"></span>
    <mat-icon id="langIcon">language</mat-icon>
    <div class="col-.5">
      <select
        class="form-select"
        #langselect
        (change)="translate.use(langselect.value)"
      >
        <option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{ lang }}
        </option>
      </select>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
