<div class="container py-3" >
    <h1 class="display-6">New Patient Details</h1>
    <br>
    <form #patient="ngForm" (ngSubmit)="patient.form.valid && submit(patient)" class="row g-3">
        <div class="col-md-4">
            <label for="firstName" class="form-label">First Name</label>
            <input [(ngModel)]="patientMainModel.firstName" name="firstName" #firstName="ngModel" 
            type="text" class="form-control" id="firstName" required
            [ngClass]="{ 'is-invalid': patient.submitted && firstName.invalid}" >
            <div class="invalid-feedback" *ngIf="patient.submitted && firstName.invalid">
              First Name is Required
            </div>
          </div>
          <div class="col-md-4">
            <label for="middleName" class="form-label">Middle Name</label>
            <input [(ngModel)]="patientMainModel.middleName" name="middleName" #middleName="ngModel" 
            type="text" class="form-control" id="middleName" >
          </div>
          <div class="col-md-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input [(ngModel)]="patientMainModel.lastName" name="lastName" #lastName="ngModel" 
            type="text" class="form-control" id="lastName" required
            [ngClass]="{ 'is-invalid': patient.submitted && lastName.invalid}" >
            <div class="invalid-feedback" *ngIf="patient.submitted && lastName.invalid">
              Last Name is Required
            </div>
          </div>
          <div class="col-md-4">
            <label for="email" class="form-label">Email</label>
            <input [(ngModel)]="patientMainModel.email" name="email" #email="ngModel"
            type="email" class="form-control" id="email"
            [ngClass]="{ 'is-invalid': patient.submitted && email.invalid}"
             required>
            <div class="invalid-feedback" *ngIf="patient.submitted && email.invalid">
              Email is Required
            </div>
          </div>
          <div class="col-md-4">
            <label for="mrnNumber" class="form-label">MRN Number</label>
            <input [(ngModel)]="patientMainModel.mrnNumber" name="mrnNumber" #mrnNumber="ngModel" 
            type="text" class="form-control" id="mrnNumber" required
            [ngClass]="{ 'is-invalid': patient.submitted && mrnNumber.invalid}" >
            <div class="invalid-feedback" *ngIf="patient.submitted && mrnNumber.invalid">
              MRN Number is Required
            </div>
          </div>
          <div class="col-md-4">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input [(ngModel)]="patientMainModel.dateOfBirth" name="dateOfBirth" (change)="dateChange($event)" #dateOfBirth="ngModel" 
            type="date" class="form-control" id="dateOfBirth" required
            [ngClass]="{ 'is-invalid': patient.submitted && dateOfBirth.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && dateOfBirth.invalid">
              Date of Birth is Required
            </div>
          </div>

          <div class="col-4" *ngIf="patientMainModel.adult == 'No'"  >
            <label for="guardianIdCardPicture" class="form-label">Upload Guardian ID Card Picture</label>
            <input name="guardianIdCardPicture" [(ngModel)]="patientMainModel.guardianIdCardPicture"
            type="file" class="form-control" #guardianIdCardPicture="ngModel" id="guardianIdCardPicture" (change)="onChangeGuardianCardPic($event)" required
            [ngClass]="{ 'is-invalid': patient.submitted && guardianIdCardPicture.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && guardianIdCardPicture.invalid">
              Guardian ID Card Picture is Required
            </div>

          </div>
          <div class="col-4" *ngIf="patientMainModel.adult == 'No'" >
            <label for="guardianName" class="form-label">Guardian Name</label>
            <input [(ngModel)]="patientMainModel.guardianName" name="guardianName" #guardianName="ngModel"
            type="text" class="form-control" id="guardianName" required
            [ngClass]="{ 'is-invalid': patient.submitted && guardianName.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && guardianName.invalid">
              Guardian Name is Required
            </div>
          </div>
          <div class="col-4" *ngIf="patientMainModel.adult == 'No'" >
            
            <label for="guardianName" class="form-label">Relationship With Patient</label>
            <input [(ngModel)]="patientMainModel.guardianRelation" name="guardianRelation" #guardianRelation="ngModel"
            type="text" class="form-control" id="guardianRelation" required
            [ngClass]="{ 'is-invalid': patient.submitted && guardianRelation.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && guardianRelation.invalid">
              Relationship With Patient is Required
            </div>
          </div>
          <div class="col-6">
            <label for="ssn" class="form-label">Gender </label>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input"  type="radio" name="gender" id="genderRadioMale" value="Male" [(ngModel)]="patientMainModel.gender">
              <label class="form-check-label" for="genderRadioMale">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="genderRadioFemale" value="Female" [(ngModel)]="patientMainModel.gender">
              <label class="form-check-label" for="genderRadioFemale">
                Female
              </label>
            </div>
          </div>
          <div class="col-md-6" *ngIf="patientMainModel.gender == 'Female' && isFemaleAge">
            <label for="firstName" class="form-label"> When was approximately your last mammogram ?</label>
            <input [(ngModel)]="patientMainModel.lastMammogram" name="lastMammogram" #lastMammogram="ngModel" 
            type="text" class="form-control" id="lastMammogram">
          </div>
          <div class="col-md-6" *ngIf="patientMainModel.gender == 'Female' && isFemaleAge">
            <label for="lastmenstrualPeriod" class="form-label">When was your last menstrual period</label>
            <select class="form-select" [(ngModel)]="patientMainModel.lastmenstrualPeriod" name="lastmenstrualPeriod" required
            (change)= "changeLastmenstrualPeriod($event)" #lastmenstrualPeriod="ngModel">
              <option selected>Select</option>
              <option value="Date">Date</option>
              <option value="Menopause">I am in Menopause</option>
              <option value="NA">Not Applicable</option>
            </select>
          </div>
          <div class="col-md-6" *ngIf="patientMainModel.lastmenstrualPeriod == 'Date' && patientMainModel.gender == 'Female'">
            <label for="periodDate" class="form-label">Select Date</label>
            <input [(ngModel)]="patientMainModel.periodDate" name="periodDate" #periodDate="ngModel" 
            type="date" class="form-control" id="periodDate">
          </div>
          <div class="col-12" *ngIf="patientMainModel.gender == 'Female' && isFemaleAge">
            <label for="insurance" class="form-label">Are you Breast Feeding/Lactating?</label>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.breastFeeding" type="radio" name="breastFeeding" id="breastFeedingYes" value="Yes">
                <label class="form-check-label" for="breastFeedingYes">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.breastFeeding" type="radio" name="breastFeeding" id="breastFeedingNo" value="No">
                <label class="form-check-label" for="breastFeedingNo">
                  No
                </label>
              </div>
          </div>
          <div class="col-6" *ngIf="patientMainModel.gender == 'Female' && isFemaleAge">
            <label for="insurance" class="form-label">Are you Pregnant?</label>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.pregnant" type="radio" name="pregnant" id="pregnantYes" value="Yes">
                <label class="form-check-label" for="pregnantYes">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.pregnant" type="radio" name="pregnant" id="pregnantNo" value="No">
                <label class="form-check-label" for="pregnantNo">
                  No
                </label>
              </div>
          </div>
          <div class="col-6" *ngIf="patientMainModel.pregnant == 'Yes'">
            <label for="pregnantMonths" class="form-label"> How many months</label>
            <input [(ngModel)]="patientMainModel.pregnantMonths" name="pregnantMonths" #pregnantMonths="ngModel"
            type="text" class="form-control" id="pregnantMonths">
          </div>
          <div class="col-12">
            <label for="insurance" class="form-label">DO YOU HAVE INSURANCE?</label>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.insurance" type="radio" name="insurance" id="insuranceYes" value="Yes">
                <label class="form-check-label" for="insuranceYes">
                  Yes
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.insurance" type="radio" name="insurance" id="insuranceNo" value="No">
                <label class="form-check-label" for="insuranceNo">
                  No
                </label>
              </div>
          </div>
          <div class="col-4" *ngIf="patientMainModel.insurance == 'Yes'" >
            <label for="insuranceFront" class="form-label">UPLOAD FRONT PICITURE OF INSURANCE CARD</label>
            <input name="insuranceFront" [(ngModel)]="patientMainModel.insuranceFront"  #insuranceFront="ngModel" required 
            type="file" class="form-control" id="insuranceFront" (change)="onChangeInsFrontPic($event)"
            [ngClass]="{ 'is-invalid': patient.submitted && insuranceFront.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && insuranceFront.invalid">
              Front Piciture Of Insurance Card is Required
            </div>
          </div>
          <div class="col-4" *ngIf="patientMainModel.insurance == 'Yes'" >
            <label for="insuranceBack" class="form-label">UPLOAD BACK PICITURE OF INSURANCE CARD</label>
            <input name="insuranceBack" [(ngModel)]="patientMainModel.insuranceBack"  #insuranceBack="ngModel" required
            type="file" class="form-control" id="insuranceBack" (change)="onChangeInsBacktPic($event)"
            [ngClass]="{ 'is-invalid': patient.submitted && insuranceBack.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && insuranceBack.invalid">
              Back Piciture Of Insurance Card is Required
            </div>
          </div>
          <div class="col-4" *ngIf="patientMainModel.insurance == 'Yes' && patientMainModel.adult == 'Yes'" >
            <label for="idCardPicture" class="form-label">UPLOAD ID CARD PICTURE</label>
            <input name="idCardPicture" [(ngModel)]="patientMainModel.idCardPicture"  #idCardPicture="ngModel" required
            type="file" class="form-control" id="idCardPicture" (change)="onChangeIdCardPic($event)"
            [ngClass]="{ 'is-invalid': patient.submitted && idCardPicture.invalid}">
            <div class="invalid-feedback" *ngIf="patient.submitted && idCardPicture.invalid">
              ID Card Piciture is Required
            </div>
          </div>

          <div class="col-md-6">
            <label for="reasonForVisit" class="form-label">Reason for Visit</label>
            <select class="form-select" [(ngModel)]="patientMainModel.reasonForVisit" name="reasonForVisit" required
            (change)= "changeReasonForVisit($event)" #reasonForVisit="ngModel" aria-label="Default select example"
            [ngClass]="{ 'is-invalid': patient.submitted && reasonForVisit.invalid}">

              <option selected>Select</option>
              <option value="Covid">Covid</option>
              <option value="CovidConsultation">Covid Test Consultation</option>
              <option value="Consultation / Medicine Refill">Consultation /Medicine Refill</option>
              <option value="Immigration">Immigration</option>
              <option value="Other">Other</option>
            </select>
            <div class="invalid-feedback" *ngIf="patient.submitted && reasonForVisit.invalid">
              Reason for Visit is Required
            </div>
          </div>

          <div class="col-md-6" *ngIf="patientMainModel.reasonForVisit == 'Other'" >
            <label for="idCardPicture" class="form-label">Explain</label>
            <input [(ngModel)]="patientMainModel.reasonForVisitOther" name="reasonForVisitOther" #reasonForVisitOther="ngModel"
            type="text" class="form-control" id="reasonForVisitOther">
          </div>
          <div class="col-12" *ngIf="patientMainModel.reasonForVisit == 'Covid'">
            <label for="covidTesting" class="form-label">ARE YOU NEEDING</label>
            <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.covidTesting" type="radio" name="covidTesting" id="pcrTesting" value="RapidPCR">
                <label class="form-check-label" for="vaccinationsYes">
                  RAPID  RT-PCR TEST FOR TRAVELING  
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" [(ngModel)]="patientMainModel.covidTesting" type="radio" name="covidTesting" id="antigenTesting" value="RapidAntigen">
                <label class="form-check-label" for="covidSymptonsNo">
                  RAPID ANTIGEN TEST  
                </label>
              </div>
          </div>
          <div class="col-12" *ngIf="patientMainModel.reasonForVisit == 'Immigration'">
            <div class="row">
              <div class="col-md-4">
                <label for="cityOfBirth" class="form-label">City Of Birth</label>
                <input [(ngModel)]="patientMainModel.cityOfBirth" name="cityOfBirth" #cityOfBirth="ngModel" 
                type="text" class="form-control" id="cityOfBirth" required
                [ngClass]="{ 'is-invalid': patient.submitted && cityOfBirth.invalid}" >
                <div class="invalid-feedback" *ngIf="patient.submitted && cityOfBirth.invalid">
                  City of Birth is Required
                </div>
              </div>
              <div class="col-md-4">
                <label for="countryOfBirth" class="form-label">County Of Birth</label>
                <input [(ngModel)]="patientMainModel.countryOfBirth" name="countryOfBirth" #countryOfBirth="ngModel" 
                type="text" class="form-control" id="countryOfBirth" >
              </div>
              <div class="col-md-4">
                <label for="imgNumber" class="form-label">Imigration Number</label>
                <input [(ngModel)]="patientMainModel.imgNumber" name="imgNumber" #imgNumber="ngModel" 
                type="text" class="form-control" id="imgNumber" required
                [ngClass]="{ 'is-invalid': patient.submitted && imgNumber.invalid}" >
                <div class="invalid-feedback" *ngIf="patient.submitted && imgNumber.invalid">
                  Imigration Number is Required
                </div>
              </div>
              
          </div>
          </div>

          <div class="col-12">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
    </form>
</div>




