<div class="container py-3">
    <h1 class="display-6">Existing Patient Form</h1>
    <br>
    <form #patient="ngForm" (ngSubmit)="patient.form.valid && submit(patient)" class="row g-3" *ngIf="!finishPage">
    <div class="col-md-6">
        <label for="addressChange" class="form-label">{{
          "Existing.addressChange" | translate
        }} </label>
    </div>
    <div class="col-md-6">
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.addressChange" type="radio" name="addressChange" id="addressChangeYes" value="Yes">
            <label class="form-check-label" for="addressChangeYes">
              {{ "YesNo.Yes" | translate }}
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.addressChange" type="radio" name="addressChange" id="addressChangeNo" value="No">
            <label class="form-check-label" for="addressChangeNo">
              {{ "YesNo.No" | translate }}
            </label>
        </div>
      </div>
    <div class="col-4" *ngIf="patientOneModel.addressChange == 'Yes'" >
    <label for="address" class="form-label">{{
      "Existing.address" | translate
    }}</label>
    <input [(ngModel)]="patientOneModel.address" name="address" #address="ngModel"
    type="text" class="form-control" id="address">
    </div>
    <div class="col-4" *ngIf="patientOneModel.addressChange == 'Yes'" >
        <label for="phoneNumber" class="form-label">{{
          "Existing.phone" | translate
        }}</label>
        <input [(ngModel)]="patientOneModel.phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
        type="number" class="form-control" id="phoneNumber">
    </div>
      <div class="col-md-4" *ngIf="patientOneModel.addressChange == 'Yes'">
        <label for="zipCode" class="form-label">{{
          "Existing.zip" | translate
        }}</label>
        <input [(ngModel)]="patientOneModel.zipCode" name="zipCode" #zipCode="ngModel"
        type="text" class="form-control" id="zipCode">
      </div>
      <div class="col-md-4" *ngIf = "patientOneModel.insurance == 'Yes'">
        <label for="ssn" class="form-label">SSN</label>
        <input [(ngModel)]="patientOneModel.ssn" name="ssn" #ssn="ngModel" 
        type="text" class="form-control" id="ssn"  minlength="9" maxlength="9" pattern="^[0-9]*$" required>
        <div class="form-control-feedback" *ngIf="patient.submitted && ssn.invalid">
          <div class="text-danger" *ngIf="ssn.errors?.required">SSN is Required</div>
          <div class="text-danger" *ngIf="ssn.errors?.minlength">Minimum 9 digits</div>
          <div class="text-danger" *ngIf="ssn.errors?.pattern">Only digits are allowed</div>
        </div>
      </div>
      <div class="col-12">
        <label for="covidSymptons" class="form-label">{{
          "Existing.covidSymptoms" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covidSymptons" type="radio" name="covidSymptons" id="covidSymptonsYes" value="Yes">
            <label class="form-check-label" for="vaccinationsYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covidSymptons" type="radio" name="covidSymptons" id="covidSymptonsNo" value="No">
            <label class="form-check-label" for="covidSymptonsNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">{{
          "Existing.covidExposed" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covid" type="radio" name="covid" id="covidRadioYes" value="Yes">
            <label class="form-check-label" for="covidRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covid" type="radio" name="covid" id="covidRadioNo" value="No">
            <label class="form-check-label" for="covidRadioNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">{{
          "Existing.fever" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.fever" type="radio" name="fever" id="feverRadioYes" value="Yes">
            <label class="form-check-label" for="feverRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.fever" type="radio" name="fever" id="feverRadioNo" value="No">
            <label class="form-check-label" for="feverRadioNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">{{
          "Existing.runnyNose" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.coughCongestion" type="radio" name="coughCongestion" id="congestionRadioYes" value="Yes">
            <label class="form-check-label" for="congestionRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.coughCongestion" type="radio" name="coughCongestion" id="congestionRadioNo" value="No">
            <label class="form-check-label" for="congestionRadioNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">{{
          "Existing.breathShortness" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.breathShortness" type="radio" name="breathShortness" id="breathRadioYes" value="Yes">
            <label class="form-check-label" for="breathRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.breathShortness" type="radio" name="breathShortness" id="breathRadioNo" value="No">
            <label class="form-check-label" for="breathRadioNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="vaccinations" class="form-label">{{
          "Existing.vaccination" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.vaccinations" type="radio" name="vaccinations" id="vaccinationsYes" value="Yes">
            <label class="form-check-label" for="vaccinationsYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.vaccinations" type="radio" name="vaccinations" id="vaccinationsNo" value="No">
            <label class="form-check-label" for="vaccinationsNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="headche" class="form-label">{{
          "Existing.headache" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.headche" type="radio" name="headche" id="headcheRadioYes" value="Yes">
            <label class="form-check-label" for="headcheRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.headche" type="radio" name="headche" id="headcheRadioNo" value="No">
            <label class="form-check-label" for="headcheRadioNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="vomiting" class="form-label">{{
          "Existing.vomit" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.vomiting" type="radio" name="vomiting" id="vomitingRadioYes" value="Yes">
            <label class="form-check-label" for="vomitingRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.vomiting" type="radio" name="vomiting" id="vomitingRadioNo" value="No">
            <label class="form-check-label" for="vomitingRadioNo">
            {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="bodyache" class="form-label">{{
          "Existing.bodyache" | translate
        }}</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.bodyache" type="radio" name="bodyache" id="bodyacheRadioYes" value="Yes">
            <label class="form-check-label" for="bodyacheRadioYes">
              {{ "YesNo.Yes" | translate }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.bodyache" type="radio" name="bodyache" id="bodyacheRadioNo" value="No">
            <label class="form-check-label" for="bodyacheRadioNo">
              {{ "YesNo.No" | translate }}
            </label>
          </div>
      </div>

      <div class="col-4" *ngIf="patientOneModel.insurance == 'No' && patientOneModel.adult == 'Yes'" >
        <label for="idCardPicture" class="form-label">{{
          "Existing.IDCard" | translate
        }}  </label>
        <input name="idCardPicture"
        type="file" class="form-control" id="idCardPicture" (change)="onChangeIdCardPic($event)" required>
      </div>
      
      <div class="col-10">
        <label for="visitReason" class="form-label">Patient Signature</label>
        <div class="signature-container">
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="clearSignature()">{{"Button.ClearSign" | translate}}</button>
          </div>
          <div class="col-2">
            <button type="button"  class="btn btn-primary" (click)="savePad()">{{"Button.SaveSign" | translate}}</button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">{{"Button.Finish" | translate}}</button>
      </div>
    </form>

    <p *ngIf="finishPage">Thank you to submit your medical record.</p>
</div>