<div class="container py-3">
    <h1 class="display-6">Existing Patient Form</h1>
    <br>
    <form #patient="ngForm" (ngSubmit)="submit(patient)" class="row g-3" *ngIf="!finishPage">
    <div class="col-md-6">
        <label for="addressChange" class="form-label">HAS YOUR ADDRESS OR PHONE NUMBER CHANGED SINCE YOUR LAST VISIT? </label>
    </div>
    <div class="col-md-6">
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.addressChange" type="radio" name="addressChange" id="addressChangeYes" value="Yes">
            <label class="form-check-label" for="addressChangeYes">
                Yes
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.addressChange" type="radio" name="addressChange" id="addressChangeNo" value="No">
            <label class="form-check-label" for="addressChangeNo">
                No
            </label>
        </div>
      </div>
    <div class="col-4" *ngIf="patientOneModel.addressChange == 'Yes'" >
    <label for="address" class="form-label">Address</label>
    <input [(ngModel)]="patientOneModel.address" name="address" #address="ngModel"
    type="text" class="form-control" id="address">
    </div>
    <div class="col-4" *ngIf="patientOneModel.addressChange == 'Yes'" >
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input [(ngModel)]="patientOneModel.phoneNumber" name="phoneNumber" #phoneNumber="ngModel"
        type="number" class="form-control" id="phoneNumber">
    </div>
      <div class="col-md-4" *ngIf="patientOneModel.addressChange == 'Yes'">
        <label for="zipCode" class="form-label">ZipCode</label>
        <input [(ngModel)]="patientOneModel.zipCode" name="zipCode" #zipCode="ngModel"
        type="text" class="form-control" id="zipCode">
      </div>
      <div class="col-12">
        <label for="covidSymptons" class="form-label">ARE YOU HAVING COVID 19 SYMPTOMS?</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covidSymptons" type="radio" name="covidSymptons" id="covidSymptonsYes" value="Yes">
            <label class="form-check-label" for="vaccinationsYes">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covidSymptons" type="radio" name="covidSymptons" id="covidSymptonsNo" value="No">
            <label class="form-check-label" for="covidSymptonsNo">
              No
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">DO YOU HAVE IF YOU WERE EXPOSED TO COVID 19 WITHIN LAST 10 DAYS?</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covid" type="radio" name="covid" id="covidRadioYes" value="Yes">
            <label class="form-check-label" for="covidRadioYes">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.covid" type="radio" name="covid" id="covidRadioNo" value="No">
            <label class="form-check-label" for="covidRadioNo">
              No
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">DO YOU HAVE FEVER?</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.fever" type="radio" name="fever" id="feverRadioYes" value="Yes">
            <label class="form-check-label" for="feverRadioYes">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.fever" type="radio" name="fever" id="feverRadioNo" value="No">
            <label class="form-check-label" for="feverRadioNo">
              No
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">DO YOU HAVE SORE OR ITCHY  THROAT, COUGH OR CONGESTION, RUNNY NOSE?</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.coughCongestion" type="radio" name="coughCongestion" id="congestionRadioYes" value="Yes">
            <label class="form-check-label" for="congestionRadioYes">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.coughCongestion" type="radio" name="coughCongestion" id="congestionRadioNo" value="No">
            <label class="form-check-label" for="congestionRadioNo">
              No
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="ssn" class="form-label">ARE YOU HAVING SHORTNESS OF BREATH?</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.breathShortness" type="radio" name="breathShortness" id="breathRadioYes" value="Yes">
            <label class="form-check-label" for="breathRadioYes">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.breathShortness" type="radio" name="breathShortness" id="breathRadioNo" value="No">
            <label class="form-check-label" for="breathRadioNo">
              No
            </label>
          </div>
      </div>
      <div class="col-12">
        <label for="vaccinations" class="form-label">HAVE YOU COMPLETED YOUR COVID 19 VACCINATIONS?</label>
        <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.vaccinations" type="radio" name="vaccinations" id="vaccinationsYes" value="Yes">
            <label class="form-check-label" for="vaccinationsYes">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="patientOneModel.vaccinations" type="radio" name="vaccinations" id="vaccinationsNo" value="No">
            <label class="form-check-label" for="vaccinationsNo">
              No
            </label>
          </div>
      </div>


      <div class="col-6" *ngIf="patientOneModel.insurance == 'No'" >
        <label for="idCardPicture" class="form-label">UPLOAD ID CARD PICTURE</label>
        <input name="idCardPicture"
        type="file" class="form-control" id="idCardPicture" (change)="onChangeIdCardPic($event)">
      </div>
      <div class="col-10">
        <label for="visitReason" class="form-label">Patient Signature</label>
        <div class="signature-container">
          <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="clearSignature()">Clear signature</button>
          </div>
          <div class="col-2">
            <button type="button"  class="btn btn-primary" (click)="savePad()">Save signature</button>
          </div>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Finish</button>
      </div>
    </form>

    <p *ngIf="finishPage">Thank you to submit your medical record.</p>
</div>