a {
    margin: 5px;
}
.mat-column-downloadFiles {
    flex: 0 0 28%;
}
.mat-column-email {
    flex: 0 0 15%;
}
.example-spacer {
    flex: 1 1 auto;
}
table {
    width: 100%;
  }
  
  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
 .container1 {
    width: 30%;
 } 
 .container2 {
    width: 30%;
 } 
  form{
    padding-bottom: 20px;
  }
  .primary{
    background: orange;
    color: white;
  }