<div class="container py-3">
  <div class="row">
    <div class="text-right col-md-11">
      <h2>List of All New Patients Records</h2>
    </div>
    <div class="col-md-1 text-right">
      <button type="button" (click)="logout()" class="btn btn-primary">
        Logout
      </button>
    </div>
  </div>

  <br />

  <mat-form-field>
    <mat-label>Search Patients</mat-label>
    <input matInput #input (keyup)="searchPatient(input.value)" />
  </mat-form-field>

  <mat-table class="mat-elevation-z8" [dataSource]="dataSource">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.firstName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.lastName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef>Date Of Birth</mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.dateOfBirth }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="insurance">
      <mat-header-cell *matHeaderCellDef>Insurance</mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.insurance }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let patient">{{ patient.createdDate }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="downloadFiles">
      <mat-header-cell *matHeaderCellDef>Download Files</mat-header-cell>
      <mat-cell *matCellDef="let patient">
        <a
          href="javascript:void(0)"
          (click)="downloadFile(patient.filePath)"
          class="link-primary"
          >Patient
        </a>
        <a
          *ngIf="patient.adult == 'Yes'"
          href="javascript:void(0)"
          (click)="downloadConsent(patient.consentPath)"
          class="link-primary"
          >Consent</a
        >|
        <a
          *ngIf="
            patient.insurance == 'Yes' &&
            patient.reasonForVisit !== 'Immigration'
          "
          href="javascript:void(0)"
          (click)="downloadFile(patient.insuranceFilePath)"
          class="link-primary"
          >Insurance</a
        >
        <!--  -->
        <a
          *ngIf="patient.reasonForVisit == 'Immigration'"
          href="javascript:void(0)"
          (click)="downloadFile(patient.imigrationFilePath)"
          class="link-primary"
          >Immigration</a
        >

        <!-- Dot Physical -->
        <a
          *ngIf="patient.reasonForVisit == 'dotPhysical'"
          href="javascript:void(0)"
          (click)="downloadFile(patient.medicalExaminationFilePath)"
          class="link-primary"
          >Medical</a
        >
        <!--  -->
        <a
          *ngIf="patient.reasonForVisit == 'dotPhysical'"
          href="javascript:void(0)"
          (click)="downloadFile(patient.medicalCertificateFilePath)"
          class="link-primary"
          >Medical Cert</a
        >
        <!-- <a *ngIf="patient.insurance=='Yes' && patient.reasonForVisit=='Immigration'" href="javascript:void(0)"
            (click)="downloadFile(patient.imigrationFilePath)" class="link-primary">Immigration</a> -->
        <!--  -->
        <a
          *ngIf="
            patient.insurance == 'No' &&
            patient.reasonForVisit !== 'Immigration' &&
            patient.reasonForVisit !== 'dotPhysical'
          "
          href="javascript:void(0)"
          (click)="downloadFile(patient.cashSuperBillFilePath)"
          class="link-primary"
          >Cash</a
        >|
        <!-- covid -->
        <a
          *ngIf="patient.covidTesting == 'RapidAntigen'"
          href="javascript:void(0)"
          (click)="downloadFile(patient.covidFilePath)"
          class="link-primary"
          >Covid Report</a
        >
        <!-- Sportphysical -->
        <a
          *ngIf="patient.reasonForVisit == 'schoolPhysical'"
          href="javascript:void(0)"
          (click)="downloadFile(patient.schoolFilePath)"
          class="link-primary"
          >Sports Physical Report</a
        >
        <!--  -->
        <a
          href="javascript:void(0)"
          (click)="downloadFile(patient.doctorFormPath)"
          class="link-primary"
          >Doctor</a
        >
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columndefs"> </mat-header-row>
    <mat-row *matRowDef="let row; columns: columndefs"> </mat-row>
  </mat-table>
  <mat-paginator
    [length]="patients.length"
    [pageSize]="10"
    [pageSizeOptions]="[1, 5, 10, 25, 100]"
    showFirstLastButtons
  >
  </mat-paginator>

  <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Insurace</th>
        <th>Download Files</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.dateOfBirth }}</td>
        <td>{{ patient.insurance }}</td>
        <td><a href="javascript:void(0)"  (click)="downloadFile(patient.filePath)"  class="link-primary">Patient</a> | 
          <a href="javascript:void(0)" (click)="downloadConsent(patient.consentPath)" class="link-primary">Consent</a> |
          <a *ngIf="patient.insurance == 'Yes'" href="javascript:void(0)" (click)="downloadFile(patient.insuranceFilePath)" class="link-primary">Insurance</a> 
          <a *ngIf="patient.insurance == 'No'" href="javascript:void(0)" (click)="downloadFile(patient.cashSuperBillFilePath)" class="link-primary">Cash</a> |
          <a href="javascript:void(0)" (click)="downloadFile(patient.doctorFormPath)" class="link-primary">Doctor</a>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
