<div class="container py-3">
  <h2>List of All New Patients Records</h2>
  <br>
  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>City</th>
        <th>State</th>
        <th>ZipCode</th>
        <th>ZipCode</th>
        <th>Download Files</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.fullName }}</td>
        <td>{{ patient.city }}</td>
        <td>{{ patient.state }}</td>
        <td>{{ patient.zipCode }}</td>
        <td>{{ patient.mobilePhoneNo }}</td>
        <td><a href="javascript:void(0)"  (click)="downloadFile(patient.filePath)"  class="link-primary">Patient Data</a> | 
          <a href="javascript:void(0)" (click)="downloadConsent(patient.consentPath)" class="link-primary">Consent File</a></td>
      </tr>
    </tbody>
  </table>
</div>


  
  